# macOS
.DS_Store

# Data files
data/

# Results
results/

# Python
.venv/

# Temporary files
fasterq.tmp.*/

# Pipeline artifacts
.snakemake/

# Logs
logs/

# Generated DAG
dag.svg

# Downloaded reference databases
reference/kraken2_db/
reference/blast_db/
